* {
    margin: 0;
    padding: 0;
}

$bg: #fafafa;
$ship-bg: #6b6a6a;
$ship-miss: #00d500;
$ship-hit: #f12f12;

html {
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
    background: $bg;
}

header {
    display: flex;
    justify-content: center;
    font-size: 3.6rem;
    margin-top: 3rem;
}

// ----- MAIN ----- 
.main__text-instructions {
    display: flex;
    justify-content: center;
    font-size: 2.4rem;
    margin-top: 3rem;
}

main {
    display: flex;
    flex-direction: column;
}

.main__board-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 7rem;
}

.main__board--left-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auto-place-btn {
    display: flex; 
    font-size: 2rem;
    margin-top: 2rem;
    padding: 1.2rem;
    border: 0.2rem solid black;
    border-radius: 0.4rem;
}
  
.main__board--left {
    display: grid;
    grid-template-columns: repeat(10, 4rem);
    grid-template-rows: repeat(10, 4rem);
    border: 1px solid black;
}

.main__board--right {
    display: grid;
    grid-template-columns: repeat(10, 4rem);
    grid-template-rows: repeat(10, 4rem);
    border: 1px solid black;
}

.main__board-cell {
    border: 1px solid black;
    background: $bg;
}

.main__board-ship {
    background: $ship-bg;
}

.main__board-ship--hit {
    background: $ship-hit;
}

.main__board-miss {
    background: $ship-miss;
}