* {
    margin: 0;
    padding: 0;
}

$page-bg: #fafafa;
$blue-btn-bg: #bae6fd;
$blue-btn-bg-hover: #95d7fb;
$green-btn-bg: #4ade80;
$green-btn-bg-hover: #22c55e;
$ship-bg: #bae6fd;
$ship-border: 0.3rem solid #272727;
$ship-miss: #4ade80;
$ship-hit: #f87171;
$grid-border: 0.4rem solid #5e5e5e;
$grid-cell: 0.1rem solid #949393;

html {
    font-family: "Secular One", sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
    background: $page-bg;
}

header {
    display: flex;
    justify-content: center;
    font-size: 3.8rem;
    margin-top: 5rem;
}

button {
    font-family: inherit;
}

// ----- MAIN ----- 
main {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.main__board-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 7rem;
}

.main__board-wrapper p {
    font-size: 3rem;
}

.main__board--left-wrapper,
.main__board--right-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-wrapper {
    display: flex;
    width: 40rem;
    justify-content: space-around;
}

.auto-place-btn,
.reset-btn,
.start-game-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blue-btn-bg;
    height: 5.7rem;
    width: 14rem;
    font-size: 2.1rem;
    font-weight: bold;
    margin-top: 2rem;
    border: 0.3rem solid black;
    border-radius: 1rem;
    transition: all .2s ease-in-out;
        &:hover {
            background-color: $blue-btn-bg-hover;
            transform: scale(1.06);
        }
}

.start-game-btn {
    background-color: $green-btn-bg;
        &:hover {
            background-color: $green-btn-bg-hover;
        }
}

.main__board--left,
.main__board--right {
    display: grid;
    grid-template-columns: repeat(10, 4rem);
    grid-template-rows: repeat(10, 4rem);
    border: $grid-border;
}

.main__board-cell {
    border: $grid-cell;
    background: $page-bg;
}

.main__board-ship {
    background: $ship-bg;
    transition: .1s ease-in-out;
}

// classes for horizontal ships
.board-ship--hor-start {
    border-top: $ship-border;
    border-right: none;
    border-bottom: $ship-border;
    border-left: $ship-border;
}

.board-ship--hor-body {
    border-top: $ship-border;
    border-right: none;
    border-bottom: $ship-border;
    border-left: none;
}

.board-ship--hor-end {
    border-top: $ship-border;
    border-right: $ship-border;
    border-bottom: $ship-border;
    border-left: none;
}

// classes for vertical ships
.board-ship--ver-start {
    border-top: $ship-border;
    border-right: $ship-border;
    border-bottom: none;
    border-left: $ship-border;
}

.board-ship--ver-body {
    border-top: none;
    border-right: $ship-border;
    border-bottom: none;
    border-left: $ship-border;
}

.board-ship--ver-end {
    border-top: none;
    border-right: $ship-border;
    border-bottom: $ship-border;
    border-left: $ship-border;
}

.main__board-ship--hit {
    background: $ship-hit;
    transition: all .1s ease-in-out;
}

.main__board-miss {
    background-color: #4ade80;
    transition: all .1s ease-in-out;
}

// Modal 
.main__modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    transition: all 0.5s ease-in-out;
}

.modal-content {
    display: flex;
    flex-direction: column;
    font-size: 2.8rem;
    align-items: center;
    margin: 15% auto;
    width: fit-content;
    padding: 4rem;
    border: 0.7rem solid black;
    border-radius: 1rem;
    background-color: #ddcbcb;
}

.modal-play-again-btn {
    font-size: 3rem;
    margin: 1rem;
    width: 80%;
    padding: 1rem;
    border: 0.3rem solid black;
    border-radius: 1rem;
    background-color: $green-btn-bg;
    transition: all .1s ease-in-out;
    &:hover {
        background-color: $green-btn-bg-hover;
        transform: scale(1.03);
    }
}