* {
    margin: 0;
    padding: 0;
}

$bg: #fafafa;
$btn-bg: #bae6fd;
$btn-bg-hover: #95d7fb;
$ship-bg: #bae6fd;
$ship-border: 0.3rem solid #3e3e3e;
$ship-miss: #00d500;
$ship-hit: #f12f12;
$grid-border: 0.4rem solid #5e5e5e;
$grid-cell: 0.1rem solid #5e5e5e;

html {
    font-family: "Secular One", sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
    background: $bg;
}

header {
    display: flex;
    justify-content: center;
    font-size: 3.8rem;
    margin-top: 5rem;
}

// ----- MAIN ----- 
.main__text-instructions {
    display: flex;
    justify-content: center;
    font-size: 2.4rem;
    margin-top: 3rem;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.main__board-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 7rem;
}

.main__board--left-wrapper,
.main__board--right-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-wrapper {
    display: flex;
    width: 40rem;
    justify-content: space-around;
}

.auto-place-btn,
.reset-btn,
.start-game-btn {
    display: flex;
    background-color: $btn-bg;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
    width: 14rem;
    justify-content: center;
    padding: 1.5rem 0rem 1.5rem 0rem;
    border: 0.3rem solid black;
    border-radius: 1rem;
        &:hover {
            background-color: $btn-bg-hover;
        }
}

.start-game-btn {
    background-color: #4ade80;
        &:hover {
            background-color: #22c55e;
        }
}

.main__board--left,
.main__board--right {
    display: grid;
    grid-template-columns: repeat(10, 4rem);
    grid-template-rows: repeat(10, 4rem);
    border: $grid-border;
}

.main__board--right {
    display: grid;
    grid-template-columns: repeat(10, 4rem);
    grid-template-rows: repeat(10, 4rem);
    border: $grid-border;
}

.main__board-cell {
    border: $grid-cell;
    background: $bg;
}

.main__board-ship {
    background: $ship-bg;
}

// classes for horizontal ships
.board-ship--hor-start {
    border-top: $ship-border;
    border-right: none;
    border-bottom: $ship-border;
    border-left: $ship-border;
}

.board-ship--hor-body {
    border-top: $ship-border;
    border-right: none;
    border-bottom: $ship-border;
    border-left: none;
}

.board-ship--hor-end {
    border-top: $ship-border;
    border-right: $ship-border;
    border-bottom: $ship-border;
    border-left: none;
}

// classes for vertical ships
.board-ship--ver-start {
    border-top: $ship-border;
    border-right: $ship-border;
    border-bottom: none;
    border-left: $ship-border;
}

.board-ship--ver-body {
    border-top: none;
    border-right: $ship-border;
    border-bottom: none;
    border-left: $ship-border;
}

.board-ship--ver-end {
    border-top: none;
    border-right: $ship-border;
    border-bottom: $ship-border;
    border-left: $ship-border;
}

.main__board-ship--hit {
    background: $ship-hit;
}

.main__board-miss {
    background: $ship-miss;
}
