* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Secular One", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
  background: #fafafa;
}

header {
  display: flex;
  justify-content: center;
  font-size: 3.8rem;
  margin-top: 5rem;
}

button {
  font-family: inherit;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.main__board-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 7rem;
}

.main__board-wrapper p {
  font-size: 3rem;
}

.main__board--left-wrapper,
.main__board--right-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-wrapper {
  display: flex;
  width: 40rem;
  justify-content: space-around;
}

.auto-place-btn,
.reset-btn,
.start-game-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bae6fd;
  height: 5.7rem;
  width: 14rem;
  font-size: 2.1rem;
  font-weight: bold;
  margin-top: 2rem;
  border: 0.3rem solid black;
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;
}
.auto-place-btn:hover,
.reset-btn:hover,
.start-game-btn:hover {
  background-color: #95d7fb;
  transform: scale(1.06);
}

.start-game-btn {
  background-color: #4ade80;
}
.start-game-btn:hover {
  background-color: #22c55e;
}

.main__board--left,
.main__board--right {
  display: grid;
  grid-template-columns: repeat(10, 4rem);
  grid-template-rows: repeat(10, 4rem);
  border: 0.4rem solid #5e5e5e;
}

.main__board-cell {
  border: 0.1rem solid #5e5e5e;
  background: #fafafa;
}

.main__board-ship {
  background: #bae6fd;
  transition: 0.1s ease-in-out;
}

.board-ship--hor-start {
  border-top: 0.3rem solid #3e3e3e;
  border-right: none;
  border-bottom: 0.3rem solid #3e3e3e;
  border-left: 0.3rem solid #3e3e3e;
}

.board-ship--hor-body {
  border-top: 0.3rem solid #3e3e3e;
  border-right: none;
  border-bottom: 0.3rem solid #3e3e3e;
  border-left: none;
}

.board-ship--hor-end {
  border-top: 0.3rem solid #3e3e3e;
  border-right: 0.3rem solid #3e3e3e;
  border-bottom: 0.3rem solid #3e3e3e;
  border-left: none;
}

.board-ship--ver-start {
  border-top: 0.3rem solid #3e3e3e;
  border-right: 0.3rem solid #3e3e3e;
  border-bottom: none;
  border-left: 0.3rem solid #3e3e3e;
}

.board-ship--ver-body {
  border-top: none;
  border-right: 0.3rem solid #3e3e3e;
  border-bottom: none;
  border-left: 0.3rem solid #3e3e3e;
}

.board-ship--ver-end {
  border-top: none;
  border-right: 0.3rem solid #3e3e3e;
  border-bottom: 0.3rem solid #3e3e3e;
  border-left: 0.3rem solid #3e3e3e;
}

.main__board-ship--hit {
  background: #f12f12;
  transition: all 0.1s ease-in-out;
}

.main__board-miss {
  background-color: #4ade80;
  transition: all 0.1s ease-in-out;
}

.main__modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
}

.modal-content {
  display: flex;
  flex-direction: column;
  font-size: 2.8rem;
  align-items: center;
  margin: 15% auto;
  width: fit-content;
  padding: 4rem;
  border: 0.7rem solid black;
  border-radius: 1rem;
  background-color: #ddcbcb;
}

.modal-play-again-btn {
  font-size: 3rem;
  margin: 1rem;
  width: 80%;
  padding: 1rem;
  border: 0.3rem solid black;
  border-radius: 1rem;
  background-color: #4ade80;
  transition: all 0.1s ease-in-out;
}
.modal-play-again-btn:hover {
  background-color: #22c55e;
  transform: scale(1.03);
}

/*# sourceMappingURL=style.css.map */
